.bg-blue {
    background-color:#a5e4efba;
}

.Bio_p {
    padding-left:120px;
}

body {
    background: url('../images/background-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.title-home{
font-family: fantasy;
}

.text-white{
   color : #ffcc35!important;
}

.card{
    background-color: var(--light);
}
.width_container{
    max-width: 900px;
}

.btn-color{
    color: black;
    border-color:  var(--cyan);
    background-color: var(--cyan);
    width: 100px;
    margin-top: 25px;

}
.btn-article {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    background-color: #334a7da6;
    border-color: white;
    margin-top: 30px;
  
}

.btn-deconnexion {
    width: 150px;
    background-color: #334a7da6;
    border-color: white;
    margin-left: 60%;
}

.btn-signaler{
    width: 100px;
    margin-left: 2%;
    margin-bottom: 2%;
    background-color: var(--danger);
    border-color: var(--danger);
}

.btn-signaler:hover{
    background-color: var(--info);
}

.card-widht{
    width: 270px;
    height: 120px;
}

.btn-admin{
    color: black;
    border-color: var(--white);
    background-color: white;
}

.tox-tinymce{
    width: 100%;
    margin-left: 1px;
}

.tox{
    height: 800px;
}

.cardHomeAdmin{
    margin-top: 50px;  
}

.card-img-top{
    padding-top: 10px;
    height: 280px;
}

.bloc-card{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
 
}

.page-footer{
    margin-top: 50px;
    background-color:#286673bf;
}

.text-color{
    color: var(--info);
}

.text-color-a{
   color:#ffffff;
}

.text-color-a:hover{
    color: #14d89e;
}

.title-color{
    color:#ffc107;
}

.card-title-color{
   color: var(--info);
   text-align: center;
   font-size: 30px;
}

.margin-footer{
    margin-left: 10%;
}

.text-color:hover{
    color:var(--blue);
}

.login-btn-color{
    color: var(--info);
    background-color: var(--white);
    border-color: var(--cyan);
    margin-top: 2%;
}

.login-btn-color:hover{
    color: #fff;
    background-color: var(--cyan);
    border-color: var(--cyan);
}

.message-alerte{
    font-size: 16px;
    color: red;
    text-align: center;
}

.titleComment{
    text-align: center;
    font-size: 2.6rem;
    color: var(--info);
    margin-bottom: 30px;
}
.episode-accueil {
    color: #17a2b8;
}

.h5-Modif{
 font-size: 14px;
}

.display-4 {
font-size: 3rem;
font-family: fantasy;
}

.rowComment{
    margin-top: 20px;
}

.container-width{
    width: 100%;
}

.pseudo{
    color: var(--danger);
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
    padding-top: 20p;
    padding-left: 15px;
    margin-top: 10px; 
}
.card-accueil{
    margin-top: 50px;
}

.title-accueil{
    font-family: fantasy;
}

.commentaire-signale{
    color: black;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
}
.chiffre-color{
    color: red;
    font-size: 18px;
}
.margin-footer .col-md-4{
    margin-left: 13%;
}

